.Menu{
    display: none;
}
.Header-Home{
   & .Container{
       display: flex;
       align-items: center;
       justify-content: center;
       & .Logo-Name{
           display: flex;
           align-items: center;
           margin: 0 0 10px 0;
           & img{
               width: 60px;
               margin: 0 0 10px 0;
           }
          & h2{
              margin: 0 0 0 20px;
            letter-spacing: 4px;
          }
       }
   } 
   & hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0;
   }
}
@media screen and (max-width: 1024px) {
    .Header-Home{
        & .Container{
            & .Logo-Name{
                justify-content: center;
                padding: 10px;
                & img{
                    width: 70px;
                    margin: 10px 0 0 0;
                }
                & h2{
                    display: none;
                }
            }
        } 
     }
}
@media screen and (max-width: 768px){
    .Menu{
        position: absolute;
        display: block;
        margin: 25px 0 0 20px;
    }
}