.Header{
    & .Header-Container{
        display: flex;
        align-items: center;
        & .btn-close{
            display: flex;
            align-items: center;
            & p{
                color: #ffffff;
            }
        }
    }
}